<!DOCTYPE html>
<html>
	<head>
		<title>
			FOLLOW
		</title>

		<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/style1.css">

	</head>
	<body>
		<% include templates/nav.ejs %><br/>

		<!--<p><%= users.length %></p>-->

		<h2>All users</h2>
		<% for(var i = 0; i < users.length; i++){ %>
				<h3> <%= users[i]._id %> </h3>
		<% } %>

		<br/>
		<h2>Enter the persons ID you want to follow</h2><br/>

		<form action="/user/follow" method="POST">
  		<input type="text" placeholder="email" name="email"><br/><br/>
  		<button type="submit" class="button button-block">FOLLOW</button>
  		<br/>
  		<br/>
  		<a href="/user/upload"><h1>BACK</h1></a>
	</body>
</html>
