<!DOCTYPE html>
<html>
	<head>
		<title>
			Log out
		</title>
		 <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/style1.css">
	</head>
	<body>
		<% include templates/nav.ejs %><br/>
		<h1 align="center"> Logged Out Successfully</h1> 
  		<a href="/user/login"><u><h1>Login</h1></u></a>
	</body>
</html>
