<!DOCTYPE html>
<html>
	<head>
		<title>
			Success
		</title>
		 <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/style1.css">
	</head>
	<body>
		<% include templates/nav.ejs %><br/>
		<h1 align="center"> Image uploaded Successfully </h1> 
  		<a href="/user/upload"><u><h1>BACK</h1></u></a>
	</body>
</html>
